body {
  font-family: "Poppins", sans-serif;
  background-color: #0d0d0d;
  color: #eee;
  margin: 0;
  padding: 0;
}

.competitions-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px 20px;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-align: center;
}

.competition-card {
  background: rgba(255, 255, 255, 0.05);
  /* semi-transparent glass look */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
}

.competition-card:hover {
  background: rgba(255, 255, 255, 0.05);
  color: #00ff88;
  box-shadow: 0 0 12px rgba(0, 255, 136, 0.3);
}

.competition-image {
  width: 100%;
  height: 200px;
  /* Fixed height for all images */
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.banks-image {
  object-position: center 55%;
}

.beckett-image {
  object-position: center 35%;
}

.competition-content {
  padding: 20px;
}

.competition-content h2 {
  color: #ffd700;
  margin-top: 0;
}

.competition-content p {
  margin: 10px 0 15px;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 5px;
}

.location-value {
  font-size: 1rem;
  color: #c5c5c5;
}
.bold {
  font-weight: 600;
  font-size: 1.1rem;
}

.competition-links a {
  display: inline-block;
  margin-right: 5px;
  padding: 10px 18px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.1);
}

.competition-links a:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #00ff88;
  box-shadow: 0 0 12px rgba(0, 255, 136, 0.3);
  transform: translateY(-1px);
}

@media (min-width: 768px) {
  .competition-card {
    height: 300px;
    flex-direction: row;
  }

  .competition-image {
    width: 40%;
    height: auto;
  }

  .competition-content {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .competition-card {
    min-height: auto;
  }
}