 body {
   color: white;
   text-align: center;
 }


 .table-wrapper {
   max-width: 900px;
   margin: 0 auto;
   background: rgba(15, 20, 35, 0.5);
   backdrop-filter: blur(10px);
   border-radius: 20px;
   padding: 20px 30px 10px 40px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
 }

 h1 {
   color: #ffe600;
   font-weight: 700;
   font-size: 1.8rem;
   margin-bottom: 25px;
   letter-spacing: 1px;
 }

 table {
   width: 100%;
   border-collapse: collapse;
   max-width: 900px;
   color: white;
   font-size: 0.90rem;
   border-radius: 10px;
   overflow: hidden;
 }

 th {
   background: transparent;
   color: #ffe600;
   text-transform: uppercase;
   padding: 12px 10px;
   font-weight: 600;
   border-bottom: 2px solid rgba(255, 230, 0, 0.4);
 }

 td {
   padding: 12px 10px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }

 tr:nth-child(even) {
   background: rgba(255, 255, 255, 0.05);
 }

 tr:hover {
   background: rgba(255, 255, 255, 0.08);
   transition: background 0.3s;
 }

 /* Green highlight for top player */
 td:first-child {
   color: white;
   font-weight: 600;
 }

 /* Tabs */
 .tabs {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   gap: 5px;
 }
 .tab {
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
 }
 .tab:hover {
   background: rgba(125, 125, 125, 0.048);
 }
 .tab.active {
  background: #3aa655; /* highlight color */
  color: #fff;
}

 



 .team-stats-row {
   font-weight: bold;
   border-bottom: 2px solid rgba(255, 230, 0, 0.5);
 }


.league-box {
  max-width: 740px;
  min-width: 685px;
  box-sizing: border-box;   /* include padding/border in width calculations */
  width: 45%;

}

.leagues-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  align-items: flex-start;
  
}

#table-container table {
  table-layout: fixed;
  width: 100%;
}

#table-container th,
#table-container td {
  width: calc(100% / 10); /* replace 10 with your column count */
}

@media (max-width: 680px) {

   th,
   td {
     font-size: 0.8rem;
     padding: 8px 5px;
   }
   .league-box {
    min-width: 560px;
    margin-top: -50px;
  }
  h1 {
    font-size: 1.1rem;
  }
 }

 @media (max-width: 560px) {
  .table-wrapper {
    padding: 10px 20px 5px 20px;
  }
  .league-box {
    min-width: 460px;
    margin-top: -50px;
  }
  h1 {
    font-size: 1.1rem;
  }
 }


 @media (max-width: 460px) {
  .table-wrapper {
    padding: 10px 20px 5px 20px;
    
  }
  .league-box {
    min-width: 380px;
    margin-top: -50px;
  }
  h1 {
    font-size: 1.1rem;
  }
 }